@font-face {
    font-family: myFirstFont;
    src: url("assets/ka1.ttf");
}


*{
    margin: 0;
    font-family: myFirstFont;
}


html{   
    background-color: grey;
    background-image: url("assets/road.png");
    background-repeat: repeat;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.row{
    width: 100%;
}

.vehicleright{
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: runright;
    -webkit-animation-duration: 30s;
}

.vehicleleft{
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: runleft;
    -webkit-animation-duration: 30s;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.bike{
    top: 0px;
}

/* Car movement to the right */
@keyframes runright {
    0% {
        right: 100%;
    }
    100% {
        right: -30%;
    }
}

/* Car movement to the left */
@keyframes runleft {
    0% {
        left: 100%;
    }
    100% {
        left: -20%;
    }
}

#timer{
    position: absolute;
    right: 2vw;
    top: 3.5vh;
    font-size: 25px;
}

.head{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    background-image: url("assets/road2.png");
    background-repeat: repeat;
}

h2{
    margin-top: 29px;
    font-size: 27px;
    white-space: nowrap;
}